// Variables 
@use"./configGlobalOverrides";
// theme colors 
$primary: #326dee !default;
$secondary : #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;



// Map 
// $colors: (
//   "primary": $primary ,
//   "secondary": $secondary ,
//   "error": $error ,
//   "info": $info ,
//   "blue": #1919e6 ,
//   "red": #e61919 ,
//   "yellow": #e6e619 ,
//   "green": #19e635 ,
//   "orange": #ffa600 ,
//   "purple": #9900ff ,
//   "gray": #808080 ,
//   "black": black ,
//   "white": white ,
// );

//*  Map functions 
// @debug map-get($colors, "purple");
// @debug map-has-key($colors, "secondary");
// @debug map-has-key($colors, "tertiary");
// @debug map-remove($colors, "primary");
// @debug map-merge($colors, ("pink": #ffc0cb));






// ! The Reason of calling the variables below 'base' is so that we can manipulate these different values later on to give us some thing like a large padding or a large margin so we'd always reference the base value first of all , an that way in the future we can change all the different other values  by just changing the base value .

// Spacing 
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders 
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;



// box shadow 
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;


// font size 
$base-font-size: 1rem;
$font-size-s: $base-font-size*0.75;
$font-size-l: $base-font-size*1.5;
$font-size-xl: $base-font-size*2;
$font-size-xxl: $base-font-size*3;



// TODO :? This is Very Important take it to your notes

// The !default flag is applied to each variable individually before they are used in the map.
// SCSS does not allow !default within the map itself, so this approach ensures all variables have default values while allowing you to override them if needed.
// https://sass-lang.com/documentation/breaking-changes/import/