@use "../variables";

.nft-card{
  font-size: 12px;
  margin-top: 2rem;
  height: 300px;
  width: 200px;
  border-radius: 12px;
  border: 1px solid gray;


  .img{
    height: 70%;
    width:100%;
    
    img{
      // max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    padding: 10px;

    b{
      line-height: 2rem;
      position: relative;
      .icon{
        position: absolute;
        width: 14px;
        height: 24px;
        left: -20px;
        display: inline;
      }
    }


  }

  .series {
    color: var(--orange);
  }

  
}