@use "../variables";
@use "../breakpoints" as bp;

%flex-layout {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: space-between
}

.navbar {
  @extend %flex-layout;

  .brand {
    height: 20px;
  }

  .toggle-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;

    .mode {
      font-size: 2rem;
      position: relative;
      z-index: 2999;
    }

    .toggle {
      font-size: 2rem;
      position: relative;
      z-index: 2999;

      @include bp.lg {
        display: none;
      }
    }

    .links-container {
      position: absolute;
      right: -22200px;

      .links>li>a {
        color: white;
      }

      &--open {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 5rem;
        background-color: var(--pink);
        z-index: 1200;

        .links>li>a {
          color: white;
        }


      }

      @include bp.lg {
        flex-grow: 1;
        position: static;

        .links {
          display: flex;
          justify-content: space-evenly;
        }

      }
    }

    @include bp.lg {
      flex-basis: 60%;
    }
  }
}