@use "../variables";

%flex-layout {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.navbar {
  @extend %flex-layout;

}


// @each $key, $val in variables.$colors {
//   .navbar-#{$key} {
//     @extend .navbar;
//     background-color: $val;
//   }
// }

  // box-shadow: variables.$base-box-shadow;


  // .site-title {
  //   font-size: variables.$font-size-l;
  // }

  // // ! we can change the properties of container when it is inside a navbar without change properties of container it self which is not gonna effect any container that sit outside the navbar
  // .container {
  //   @extend%flex-layout;
  // }