// define the variables you want so shinobi can use it the variable name should be the same with variables names in shinobi

@use "./shinobi/variables" with ($primary: yellow);

@use "./shinobi/breakpoints" as bp;

@use "./shinobi" as shinobi;

// ** for project **

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --orange: #ff8139;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background: #111111;
  --font-family: "Inter", sans-serif;
}

[data-theme="light"] {
  --background: #ffffff;
  --accent-color1: #000000;
  --accent-color2: #eeeeee;
  --accent-color3: #777777;
  --card-color: #eeeeee;
}

body {
  color: white;

}



.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  padding: 2rem 4rem;

  @include bp.breakpoint-between(280px, 700px) {
    padding: 1rem;
  }
}

// @media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
//   .app-container::-webkit-scrollbar {
//     display: none;
//   }
// }

// 

::-webkit-scrollbar {
  background-color: #111111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}


.border-red {
  border: 1px solid red;
}


.home {
  gap: 20px;
  width: 100vw;

  .content {
    flex-basis: 80%;

  }

  .subtitle {
    color: var(--pink);
    letter-spacing: 2px;
    line-height: 28px;

  }

  .title,
  .description {
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    // hyphens: auto;
    // white-space: pre-line;
    // text-wrap-mode: wrap;
    text-wrap: pretty;
  }

  .button {
    // // border-radius:7vw;
    padding: 10px 25px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    // border-image-slice:1;
    border-image-source: linear-gradient(117deg, rgba(255, 57, 152, 1) 42%, rgba(255, 129, 57, 1) 43%);

    &:hover {
      background-image: linear-gradient(117deg, rgba(255, 57, 152, 1), rgba(255, 129, 57, 1));
    }


  }

}